.avatarContainer {
    position: relative;
}

.avatarContainer img {
    display: block;
}

.error{
    color: red;
}

.avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin: 10px auto;
    object-fit: cover;
}


.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;

    color: #000000;
}

.email {
    padding-bottom: 10px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    text-align: center;

    color: #000000;

    opacity: 0.5;
}