.avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: #1976d2;
    position: relative;
    margin: 10px auto;
}


.title {
    font-family: 'Montserrat', sans-serif ;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;

    color: #000000;
}

.email {
    padding-bottom: 10px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    text-align: center;

    color: #000000;

    opacity: 0.5;
}