.filterContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: start;
    text-align: start;
    width: 260px;
}

/*.button {*/
/*    background-color: #fff;*/
/*    color: black;*/
/*    font-size: 14px;*/
/*    border-radius: 0px 2px 2px 0px;*/
/*}*/

/*.activeButton {*/
/*    background-color: #366EFF;*/
/*    color: white;*/
/*}*/