.tableContainer{
    display: flex;
    flex-direction: column;
    /*!*align-content: center;*!*/
    /*align-items: center;*/
}

.searchContainer {
    margin-top: 40px;
    display: flex;
    /*justify-content: left;*/
    align-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin-bottom: 10px;
    align-self: center;
}

.backButton {
    align-self: flex-start;
    margin-left: 15%;
    min-height: 10%;
    margin-top: 24px;
}


.packImg {
margin-left:220px;
}

